.app .pageTitle {
  margin: 30px;
  text-align: center;
}

.app .content {
  margin: 20px;
}

.submit {
  margin-top: 20px;
}

.contentSmall {
  margin: auto;
  display: block;
  width: 500px;
}

.card {
  padding: 15px;
}

.contentMedium {
  margin: auto;
  display: block;
  max-width: 1000px;
}
